header {
  display: flex;
  position: sticky;
}

.logo {
  cursor: pointer;
  color: rgba(229, 9, 20, 1);
}

.logo img {
  width: 9.25rem;
  height: 2.5rem;
}

.navigation-list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  width: 100%;
  color: rgba(255, 255, 255, 0.8);
  gap: 5px;
  font-size: 18px;
}

li a,
li a:hover,
li a:visited,
li a:active {
  color: inherit;
  text-decoration: none;
}
li a:hover {
  font-weight: 900;
  color: rgba(255, 255, 255);
  opacity: 100%;
}

li {
  width: 70px;
  cursor: pointer;
}
